@charset "UTF-8";
/* ------------------------------------------------------------------
/* b. Reset
      Adapted from:
      Normalize.css - https://github.com/necolas/normalize.css/
      HTML5 Doctor Reset - html5doctor.com/html-5-reset-stylesheet/
/* ------------------------------------------------------------------ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

code, pre {
  background-color: #E9EBEE;
  overflow-x: auto;
}

code {
  padding: 0 0.3em;
}

pre {
  padding: 0.5em 1em;
  margin-bottom: 12px;
}

pre code {
  padding: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #F1EE78;
  color: #555;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------------------------ */
/* c. Default and Basic Styles
      Adapted from:
      Skeleton CSS Framework - http://www.getskeleton.com/
      Typeplate Typographic Starter Kit - http://typeplate.com/
/* ------------------------------------------------------------------ */
/* 1. Basic  ------------------------------------------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-family: 'merriweather-regular', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #4A5153;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* 2. Typography
      Vertical rhythm with leading derived from 6
--------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: 'opensans-semibold', sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 12px;
  letter-spacing: -1px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 6px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 6px;
}

h5 {
  font-size: 18px;
  line-height: 30px;
}

h6 {
  font-size: 14px;
  line-height: 30px;
}

p {
  margin: 0 0 10px 0;
}

p img {
  margin: 0;
}

p.lead {
  font: 18px/33px 'opensans-light', sans-serif;
  margin-bottom: 18px;
}

/* for 'em' and 'strong' tags, font-size and line-height should be same with
the body tag due to rendering problems in some browsers */
em {
  font: 15px/30px 'merriweather-italic', sans-serif;
}

strong, b {
  font: 15px/30px 'merriweather-bold', sans-serif;
}

small {
  font-size: 11px;
  line-height: inherit;
}

/*  Blockquotes */
blockquote {
  margin: 30px 0px;
  padding-left: 40px;
  position: relative;
}

blockquote:before {
  content: "\201C";
  opacity: 0.45;
  font-size: 80px;
  line-height: 0px;
  margin: 0;
  font-family: arial, sans-serif;
  position: absolute;
  top: 30px;
  left: 0;
}

blockquote p {
  font-family: georgia, serif;
  font-style: italic;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

blockquote cite {
  display: block;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
  color: #8B9798;
  border: none;
}

/* ---------------------------------------------------------------------
/*  Pull Quotes Markup
/*
    <aside class="pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
   </aside>
/*
/* --------------------------------------------------------------------- */
.pull-quote {
  position: relative;
  padding: 18px 30px 18px 0px;
}

.pull-quote:before,
.pull-quote:after {
  height: 1em;
  opacity: 0.45;
  position: absolute;
  font-size: 80px;
  font-family: Arial, Sans-Serif;
}

.pull-quote:before {
  content: "\201C";
  top: 33px;
  left: 0;
}

.pull-quote:after {
  content: '\201D';
  bottom: -33px;
  right: 0;
}

.pull-quote blockquote {
  margin: 0;
}

.pull-quote blockquote:before {
  content: none;
}

/* Abbreviations */
abbr {
  font-family: 'opensans-bold', sans-serif;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .5px;
  color: gray;
}

abbr:hover {
  cursor: help;
}

/* drop cap */
.drop-cap:first-letter {
  float: left;
  margin: 0;
  padding: 14px 6px 0 0;
  font-size: 84px;
  font-family: 'opensans-bold', sans-serif;
  line-height: 60px;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

hr {
  border: solid #E8E8E8;
  border-width: 1px 0 0;
  clear: both;
  margin: 11px 0 30px;
  height: 0;
}

/*  3. Links  ------------------------------------------------------- */
a, a:visited {
  text-decoration: none;
  outline: 0;
  color: #002072;
  transition: color .3s ease-in-out;
}

a:hover, a:focus {
  color: #002072;
}

p a, p a:visited {
  line-height: inherit;
}

/*  4. List  --------------------------------------------------------- */
ul, ol {
  margin-bottom: 24px;
  margin-top: 12px;
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

ol, ul.square, ul.circle, ul.disc {
  margin-left: 17px;
}

ul.square {
  list-style: square;
}

ul.circle {
  list-style: circle;
}

ul.disc {
  list-style: disc;
}

ul li {
  padding-left: 4px;
}

ul ul, ul ol,
ol ol, ol ul {
  margin: 6px 0 6px 17px;
}

/* ---------------------------------------------------------------------
/*  Stats Tab Markup

    <ul class="stats-tabs">
    <li><a href="#">[value]<em>[name]</em></a></li>
   </ul>

    Extend this object into your markup.
/*
/* --------------------------------------------------------------------- */
.stats-tabs {
  padding: 0;
  margin: 24px 0;
}

.stats-tabs li {
  display: inline-block;
  margin: 0 10px 18px 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #ccc;
}

.stats-tabs li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.stats-tabs li a {
  display: inline-block;
  font-size: 24px;
  font-family: 'opensans-bold', sans-serif;
  border: none;
  color: #444;
}

.stats-tabs li a:hover {
  color: #93B876;
}

.stats-tabs li a em {
  display: block;
  margin: 6px 0 0 0;
  font-size: 14px;
  font-family: 'opensans-regular', sans-serif;
  color: #8B9798;
}

/* definition list */
dl {
  margin: 12px 0;
}

dt {
  margin: 0;
  color: #93B876;
}

dd {
  margin: 0 0 0 20px;
}

/* Lining Definition Style Markup */
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}

.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}

.lining dd + dd:before {
  content: ", ";
}

.lining dd:before {
  content: ": ";
  margin-left: -0.2em;
}

/* Dictionary Definition Style Markup */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}

.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2em;
}

.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}

.dictionary-style dd:before {
  content: counter(definitions, decimal) ". ";
}

/* Pagination */
.pagination {
  margin: 36px auto;
  text-align: center;
}

.pagination ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination .page-numbers {
  font: 15px/21px 'opensans-bold', sans-serif;
  display: inline-block;
  padding: 6px 10px;
  margin-right: 3px;
  margin-bottom: 6px;
  color: #6E757C;
  background-color: #E6E8EB;
  transition: all 200ms ease-in-out;
  border-radius: 3px;
}

.pagination .page-numbers:hover {
  background: #838A91;
  color: #fff;
}

.pagination .current,
.pagination .current:hover {
  background-color: #93B876;
  color: #fff;
}

.pagination .inactive,
.pagination .inactive:hover {
  background-color: #E6E8EB;
  color: #A9ADB2;
}

/* 5. Media   --------------------------------------------------------- */
img,
video,
iframe,
embed,
object {
  max-width: 100%;
  height: auto;
}

img.pull-right {
  margin: 12px 0px 0px 18px;
}

img.pull-left {
  margin: 12px 18px 0px 0px;
}

/* 6. Buttons  --------------------------------------------------------- */
.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font: 14px/30px 'opensans-bold', sans-serif;
  background: #9CCF5F;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 12px 20px;
  margin-bottom: 18px;
  border: none;
  cursor: pointer;
  height: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  transition: all .2s ease-in-out;
  border-radius: 3px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background: #70A431;
  color: #fff;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background: #70A431;
  color: #fff;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 7. Forms  --------------------------------------------------------- */
form {
  margin-bottom: 24px;
}

fieldset {
  margin-bottom: 24px;
}

input,
button {
  -webkit-font-smoothing: antialiased;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  display: block;
  padding: 12px 15px;
  margin: 0 0 24px 0;
  border: 0;
  outline: none;
  vertical-align: middle;
  /* min-width: 225px; */
  max-width: 100%;
  background: #E9EBEE;
  color: #B1B1B1;
  font-family: 'opensans-regular', sans-serif;
  font-size: 14px;
  line-height: 30px;
  height: 54px;
  border-radius: 3px;
}

textarea {
  min-height: 162px;
}

/* select { padding: 0;
   width: 220px;
   } */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  background: #AFB7BE;
  color: #fff;
}

label,
legend {
  font: 16px/24px 'opensans-bold', sans-serif;
  margin: 12px 0;
  color: #3d4145;
  display: block;
}

label span,
legend span {
  color: #8B9798;
  font: 14px/24px 'opensans-regular', sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
  font-size: 15px;
  color: #3d4145;
}

input[type="checkbox"] {
  display: inline;
}

/* ------------------------------------------------------------------ */
/* d. Grid
--------------------------------------------------------------------- */
/* default
--------------------------------------------------------------- */
.row {
  width: 94%;
  max-width: 1008px;
  margin: 0 auto;
}

/* fixed width for IE8 */
.ie .row {
  width: 1000px;
}

.narrow .row {
  max-width: 980px;
}

.row .row {
  width: auto;
  max-width: none;
  margin: 0 -18px;
}

/* row clearing */
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.column, .columns {
  position: relative;
  padding: 0 18px;
  min-height: 1px;
  float: left;
}

.column.centered, .columns.centered {
  float: none;
  margin: 0 auto;
}

/* removed gutters */
.row.collapsed > .column,
.row.collapsed > .columns,
.column.collapsed, .columns.collapsed {
  padding: 0;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

[class*="column"] + [class*="column"].end {
  float: right;
}

/* column widths */
.one, .row .one {
  width: 8.33333%;
}

.two, .row .two {
  width: 16.66667%;
}

.three, .row .three {
  width: 25%;
}

.four, .row .four {
  width: 33.33333%;
}

.five, .row .five {
  width: 41.66667%;
}

.six, .row .six {
  width: 50%;
}

.seven, .row .seven {
  width: 58.33333%;
}

.eight, .row .eight {
  width: 66.66667%;
}

.nine, .row .nine {
  width: 75%;
}

.ten .row .ten {
  width: 83.33333%;
}

.eleven, .row .eleven {
  width: 91.66667%;
}

.twelve, .row .twelve {
  width: 100%;
}

/* Offsets */
.row .offset-1 {
  margin-left: 8.33333%;
}

.row .offset-2 {
  margin-left: 16.66667%;
}

.row .offset-3 {
  margin-left: 25%;
}

.row .offset-4 {
  margin-left: 33.33333%;
}

.row .offset-5 {
  margin-left: 41.66667%;
}

.row .offset-6 {
  margin-left: 50%;
}

.row .offset-7 {
  margin-left: 58.33333%;
}

.row .offset-8 {
  margin-left: 66.66667%;
}

.row .offset-9 {
  margin-left: 75%;
}

.row .offset-10 {
  margin-left: 83.33333%;
}

.row .offset-11 {
  margin-left: 91.66667%;
}

/* block grids
--------------------------------------------------------------------- */
.bgrid-sixths [class*="column"] {
  width: 16.66667%;
}

.bgrid-quarters [class*="column"] {
  width: 25%;
}

.bgrid-thirds [class*="column"] {
  width: 33.33333%;
}

.bgrid-halves [class*="column"] {
  width: 50%;
}

[class*="bgrid"] [class*="column"] + [class*="column"]:last-child {
  float: left;
}

/* Left clearing for block grid columns - columns that changes width in
different screen sizes. Allows columns with different heights to align
properly.
--------------------------------------------------------------------- */
.first {
  clear: left;
}

/* first column in default screen */
.s-first {
  clear: none;
}

/* first column in smaller screens */
/* smaller screens
--------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  /* block grids on small screens */
  .s-bgrid-sixths [class*="column"] {
    width: 16.66667%;
  }
  .s-bgrid-quarters [class*="column"] {
    width: 25%;
  }
  .s-bgrid-thirds [class*="column"] {
    width: 33.33333%;
  }
  .s-bgrid-halves [class*="column"] {
    width: 50%;
  }
  /* block grids left clearing */
  .first {
    clear: none;
  }
  .s-first {
    clear: left;
  }
}

/* screenwidth less than 768px - mobile/smaller tablets
--------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .row {
    width: 480px;
    margin: 0 auto;
    padding: 0;
  }
  .column, .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0 30px;
  }
  .row .row {
    width: auto;
    max-width: none;
    margin: 0 -30px;
  }
  [class*="column"] + [class*="column"]:last-child {
    float: none;
  }
  [class*="bgrid"] [class*="column"] + [class*="column"]:last-child {
    float: none;
  }
  /* Offsets */
  .row .offset-1 {
    margin-left: 0%;
  }
  .row .offset-2 {
    margin-left: 0%;
  }
  .row .offset-3 {
    margin-left: 0%;
  }
  .row .offset-4 {
    margin-left: 0%;
  }
  .row .offset-5 {
    margin-left: 0%;
  }
  .row .offset-6 {
    margin-left: 0%;
  }
  .row .offset-7 {
    margin-left: 0%;
  }
  .row .offset-8 {
    margin-left: 0%;
  }
  .row .offset-9 {
    margin-left: 0%;
  }
  .row .offset-10 {
    margin-left: 0%;
  }
  .row .offset-11 {
    margin-left: 0%;
  }
}

/* screenwidth less than or equal 480px - mobile wide
--------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
  .row {
    width: auto;
  }
}

/* larger screens
--------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  .wide .row {
    max-width: 1180px;
  }
}

/* ------------------------------------------------------------------ */
/* e. Others
/* ------------------------------------------------------------------ */
/*  1. Clearing
    (http://nicolasgallagher.com/micro-clearfix-hack/
--------------------------------------------------------------------- */
.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

/*  2. Misc -------------------------------------------------------- */
.remove-bottom {
  margin-bottom: 0 !important;
}

.half-bottom {
  margin-bottom: 12px !important;
}

.add-bottom {
  margin-bottom: 24px !important;
}

.no-border {
  border: none;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.align-center {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

@font-face {
  font-family: 'merriweather-heavy';
  src: url("fonts/merriweather/merriweather-black-webfont.eot");
  src: url("fonts/merriweather/merriweather-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/merriweather-black-webfont.woff") format("woff"), url("fonts/merriweather/merriweather-black-webfont.ttf") format("truetype"), url("fonts/merriweather/merriweather-black-webfont.svg#merriweatherheavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-bold';
  src: url("fonts/merriweather/merriweather-bold-webfont.eot");
  src: url("fonts/merriweather/merriweather-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/merriweather-bold-webfont.woff") format("woff"), url("fonts/merriweather/merriweather-bold-webfont.ttf") format("truetype"), url("fonts/merriweather/merriweather-bold-webfont.svg#merriweatherbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-bold-italic';
  src: url("fonts/merriweather/merriweather-bolditalic-webfont.eot");
  src: url("fonts/merriweather/merriweather-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/merriweather-bolditalic-webfont.woff") format("woff"), url("fonts/merriweather/merriweather-bolditalic-webfont.ttf") format("truetype"), url("fonts/merriweather/merriweather-bolditalic-webfont.svg#merriweatherbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-heavy-italic';
  src: url("fonts/merriweather/merriweather-heavyitalic-webfont.eot");
  src: url("fonts/merriweather/merriweather-heavyitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/merriweather-heavyitalic-webfont.woff") format("woff"), url("fonts/merriweather/merriweather-heavyitalic-webfont.ttf") format("truetype"), url("fonts/merriweather/merriweather-heavyitalic-webfont.svg#merriweatherheavy_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-italic';
  src: url("fonts/merriweather/merriweather-italic-webfont.eot");
  src: url("fonts/merriweather/merriweather-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/merriweather-italic-webfont.woff") format("woff"), url("fonts/merriweather/merriweather-italic-webfont.ttf") format("truetype"), url("fonts/merriweather/merriweather-italic-webfont.svg#merriweatheritalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-light';
  src: url("fonts/merriweather/merriweather-light-webfont.eot");
  src: url("fonts/merriweather/merriweather-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/merriweather-light-webfont.woff") format("woff"), url("fonts/merriweather/merriweather-light-webfont.ttf") format("truetype"), url("fonts/merriweather/merriweather-light-webfont.svg#merriweatherlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-light-italic';
  src: url("fonts/merriweather/merriweather-lightitalic-webfont.eot");
  src: url("fonts/merriweather/merriweather-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/merriweather-lightitalic-webfont.woff") format("woff"), url("fonts/merriweather/merriweather-lightitalic-webfont.ttf") format("truetype"), url("fonts/merriweather/merriweather-lightitalic-webfont.svg#merriweatherlight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-regular';
  src: url("fonts/merriweather/merriweather-regular-webfont.eot");
  src: url("fonts/merriweather/merriweather-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/merriweather-regular-webfont.woff") format("woff"), url("fonts/merriweather/merriweather-regular-webfont.ttf") format("truetype"), url("fonts/merriweather/merriweather-regular-webfont.svg#merriweatherregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 * Open Sans
================================================================================ */
@font-face {
  font-family: 'opensans-regular';
  src: url("fonts/opensans/OpenSans-Regular-webfont.eot");
  src: url("fonts/opensans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-italic';
  src: url("fonts/opensans/OpenSans-Italic-webfont.eot");
  src: url("fonts/opensans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Italic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Italic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-light';
  src: url("fonts/opensans/OpenSans-Light-webfont.eot");
  src: url("fonts/opensans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Light-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-light-italic';
  src: url("fonts/opensans/OpenSans-LightItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-LightItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-semibold';
  src: url("fonts/opensans/OpenSans-Semibold-webfont.eot");
  src: url("fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-semibold-italic';
  src: url("fonts/opensans/OpenSans-SemiboldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-bold';
  src: url("fonts/opensans/OpenSans-Bold-webfont.eot");
  src: url("fonts/opensans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Bold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Bold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-bold-italic';
  src: url("fonts/opensans/OpenSans-BoldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-BoldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-extrabold';
  src: url("fonts/opensans/OpenSans-ExtraBold-webfont.eot");
  src: url("fonts/opensans/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-ExtraBold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-extrabold-italic';
  src: url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 * FIXED for Font-Face Chrome Rendering
================================================================================ */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'opensans-semibold';
    src: url("fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  }
  @font-face {
    font-family: 'merriweather-bold';
    src: url("fonts/merriweather/merriweather-bold-webfont.svg#merriweatherbold") format("svg");
  }
}

body {
  background: #F6F5F5;
  border-top: 6px solid #002072;
}

.page {
  padding-bottom: 18px;
  margin-bottom: 36px;
}

.page h2,
.entry h2,
.entry h2 a {
  font: 31px/36px 'opensans-semibold', sans-serif;
  color: #444;
  margin-bottom: 0;
  letter-spacing: -.5px;
}

.page h2 {
  margin-bottom: 18px;
}

/* b. Header Styles
/* ------------------------------------------------------------------ */
header {
  width: 100%;
  height: 288px;
  background: #fff;
}

header .header-content {
  background: #fff url(img/header-content-bg.png) no-repeat right top;
  height: 288px;
  border-bottom: 1px dashed #E8E8E8;
  position: relative;
}

/* For high-res devices */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header .header-content {
    background: #fff url(img/header-content-bg_@2X.png) no-repeat right top;
    background-size: 361px 256px;
  }
}

/* header logo */
header h1#logo-text {
  margin: 0;
  padding: 0;
  /* change the values of top and left to adjust the position of the logo text */
  position: absolute;
  top: 108px;
  left: 18px;
}

header img.logo {
  width: 60px;
  height: 60px;
}

header h1#logo-text a {
  margin: 0;
  padding: 0;
  font: normal 75px Georgia, Serif;
  letter-spacing: -5px;
  color: #002072;
  text-decoration: none;
}

header p#intro {
  margin: 0;
  padding: 0;
  font: 18px/24px 'opensans-light', Georgia, Serif;
  font-weight: normal;
  color: #ff0000;
  width: 400px;
  /* change the values of top and left to adjust the position */
  position: absolute;
  top: 192px;
  left: 30px;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap, #nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #F5F4F3;
  border-bottom: 1px solid #EAE8E8;
  width: 100%;
  float: left;
  position: absolute;
  top: 6px;
  left: 0;
}

/* hide toggle button */
#nav-wrap > a {
  display: none;
}

ul#nav {
  min-height: 50px;
  width: auto;
  margin-left: 20px;
  float: left;
  position: relative;
  top: 0;
  /* left align the menu */
  text-align: left;
}

ul#nav li {
  position: relative;
  list-style: none;
  height: 50px;
  display: inline-block;
  padding-top: 10px;
}

/* float left to remove gaps between 1st level list items */
ul#nav > li {
  float: left;
}

/* Links */
ul#nav li a {
  display: inline-block;
  padding: 0 15px;
  line-height: 40px;
  text-decoration: none;
  color: #666666;
  transition: color .2s ease-in-out;
}

ul#nav li a:hover {
  color: #222;
}

ul#nav li a:active {
  background-color: transparent !important;
}

ul#nav li.current > a {
  background: #fff;
  padding: 0 14px;
  border-right: 1px solid #EAE8E8;
  border-top: 1px solid #EAE8E8;
  border-left: 1px solid #EAE8E8;
  border-radius: 3px 3px 0 0;
}

/* sub menu */
ul#nav ul {
  position: absolute;
  top: 52px;
  left: 0px;
  padding-bottom: 12px;
  background: #F5F4F3;
  min-width: 100%;
  border: 1px solid #EAE8E8;
  border-top: none;
  border-radius: 0 0 3px 3px;
  /* for transition effects */
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity .25s ease .1s;
}

/*
ul#nav ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 3px 3px 0;
}
*/
ul#nav ul li {
  padding: 0;
  display: block;
  text-align: left;
  /* for transition effects */
  height: 0;
  overflow: hidden;
  transition: height .25s ease .1s;
}

/* on hover */
ul#nav li:hover > ul {
  opacity: 1;
  filter: alpha(opacity=100);
}

ul#nav li:hover > ul li {
  height: 42px;
  overflow: visible;
}

/* sub menu anchor links */
ul#nav ul li a {
  padding: 6px 20px;
  margin: 0;
  white-space: nowrap;
  font-size: 13px;
  font-family: 'opensans-regular', sans-serif;
  text-transform: none;
  letter-spacing: 0;
}

/* c. Content
--------------------------------------------------------------------- */
#content-wrap {
  background: #fff;
  padding: 42px 0 36px 0;
}

#content-wrap #main {
  padding-right: 40px;
}

/* d. Sidebar
--------------------------------------------------------------------- */
#sidebar {
  padding-top: 0px;
  padding-left: 40px;
}

#sidebar h3 {
  font: 15px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#sidebar .widget {
  margin-bottom: 18px;
}

#sidebar p {
  margin-bottom: 12px;
}

#sidebar hr {
  margin-bottom: 24px;
}

/* search  */
#sidebar .widget_search {
  padding-top: 0;
  margin-bottom: 36px;
}

#sidebar .widget_search h3 {
  display: none;
}

#sidebar .widget_search form {
  position: relative;
  margin: 0;
}

#sidebar .widget_search .text-search {
  padding-right: 40px;
  border: none;
  width: 100%;
  min-width: 150px;
  border-radius: 3px;
}

#sidebar .widget_search .submit-search {
  background: url(img/search-icon.png) no-repeat;
  box-shadow: none;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  min-height: 18px;
  margin: -9px 0 0 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #sidebar .widget_search .submit-search {
    background: url(img/search-icon_@2x.png) no-repeat;
    background-size: 18px 18px;
  }
}

/* categories  */
#sidebar .widget_categories ul {
  margin-top: 12px;
  margin-bottom: 24px;
}

/* link List */
#sidebar .link-list {
  padding: 0;
  margin: 18px 0 24px 0;
}

#sidebar .link-list li {
  font: 15px/30px 'merriweather-regular', sans-serif;
  padding: 8px 0;
  margin: 0;
  border-bottom: 1px dotted #E6E6E6;
}

#sidebar .link-list li:first-child {
  border-top: 1px dotted #E6E6E6;
}

#sidebar .link-list li a {
  color: #4A5153;
}

#sidebar .link-list li a:hover {
  color: #313131;
  /* color: #93B876; */
}

/* tag cloud */
#sidebar .tagcloud {
  margin: 18px 0 24px -12px;
  padding: 0;
  font-size: 17px;
}

#sidebar .tagcloud a {
  font: 12px/24px 'opensans-bold', sans-serif !important;
  display: inline-block;
  float: left;
  margin: 0 0 12px 12px;
  padding: 6px 15px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: #E9EBEE;
  text-decoration: none;
  letter-spacing: .5px;
  color: #002072;
  transition: all .2s ease-in-out;
  border-radius: 3px;
}

#sidebar .tagcloud a:hover {
  color: #fff;
  background: #002072;
}

/* e. Entry
/* ------------------------------------------------------------------ */
.entry {
  padding-bottom: 12px;
  margin-bottom: 24px;
}

.entry header {
  height: auto;
}

.entry .entry-meta ul {
  margin: 6px 0 18px;
  color: #B7B9BD;
  line-height: 24px;
}

.entry .intro-section {
  margin-bottom: 10px;
}

.entry .entry-meta ul li {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'merriweather-regular', sans-serif;
}

.entry .entry-meta ul li a {
  color: #B7B9BD;
}

.entry .entry-content-media {
  margin: 24px 0 18px;
}

.entry .tags {
  margin-top: 18px;
  font-family: 'opensans-regular', sans-serif;
  color: #888;
}

.entry .tags a {
  font-family: 'opensans-bold', sans-serif;
}

/* post-nav */
.post-nav {
  margin: 18px 0 6px;
  padding: 12px 0 0 0;
  font: 15px/30px 'opensans-light', sans-serif;
}

.post-nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 49%;
  line-height: 30px;
}

.post-nav li a {
  color: #888;
}

.post-nav li strong {
  font: 16px/30px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  color: #93B876;
  letter-spacing: 0.5px;
  display: block;
}

.post-nav li.next {
  float: right;
  text-align: right;
}

.post-nav li.prev {
  float: left;
  text-align: left;
}

/* Comments -------------------------------------------- */
#comments {
  padding-top: 12px;
  padding-bottom: 12px;
}

#comments h3 {
  font: 20px/30px 'opensans-bold', sans-serif;
  margin-bottom: 6px;
}

/* Comments List */
ol.commentlist {
  border-top: 1px dotted #E1E5E3;
  margin: 29px 0 54px 0;
  padding: 0;
}

.commentlist > li {
  position: relative;
  list-style: none;
  margin: 0;
  border-bottom: 1px dotted #D9DEDB;
  padding: 24px 0 17px 0;
  padding-left: 14%;
}

.commentlist li .avatar {
  position: absolute;
  left: 0px;
  display: block;
  height: 48px;
  width: 48px;
}

.commentlist li .avatar img {
  margin-top: 6px;
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

.commentlist li .comment-info cite {
  font: 16px/30px 'opensans-bold', sans-serif;
  color: #454545;
}

.commentlist li .comment-info .comment-meta {
  font-size: 14px;
  line-height: 24px;
  display: block;
}

.commentlist li .comment-info .comment-meta .reply {
  font-family: 'opensans-bold', sans-serif;
}

.commentlist li .comment-info .comment-meta .sep {
  margin: 0 5px;
  color: #AEB6B7;
}

.commentlist li .comment-text {
  clear: both;
  margin: 18px 0 0 0;
  padding: 0;
  line-height: 30px;
}

/* children */
.commentlist li ul.children {
  margin: 0;
  padding: 18px 0 0 0;
}

.commentlist li ul.children li {
  padding-left: 5%;
  padding-top: 17px;
  border-top: 1px dotted #D9DEDB;
}

p.read-more {
  margin: 0 0 5px 0;
}

/* comment form ----------------------------------------- */
#comments form {
  margin-top: 36px;
}

#comments form label {
  padding-left: 24px;
  width: 41.66667%;
  float: right;
}

#comments form div {
  margin: 12px 0 18px 0;
}

#comments form input,
#comments form textarea,
#comments form select {
  width: 58.33333%;
  float: left;
}

#comments form .message label {
  display: none;
}

#comments form textarea {
  width: 100%;
}

#comments form button.submit {
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  margin-top: 12px;
}

#comments form span.required {
  color: #93B876;
  font-size: 15px;
}

/* page navigation -------------------------------------- */
.pagenav {
  font: 18px/30px 'opensans-bold', sans-serif;
  text-align: left;
  margin-top: 12px;
  padding-top: 18px;
  margin-bottom: 48px;
  border-top: 1px solid #E8E8E8;
}

.pagenav p {
  margin-bottom: 18px;
}

.pagenav span {
  font: 18px/30px 'opensans-regular', sans-serif;
  color: #C0C6C9;
  margin: 0 15px;
}

.pagenav a[rel="prev"] {
  margin-right: 10px;
  padding-right: 15px;
  border-right: 1px dotted #CBCFD1;
}

.pagenav a[rel="prev"]:before {
  /*content: '\f053';*/
  /*content: '\f104';*/
  content: '\f177';
  font-family: 'fontawesome';
  font-size: 15px;
  margin-right: 12px;
}

.pagenav a[rel="next"]:after {
  /*content: '\f054';*/
  /*content: '\f105';*/
  content: '\f178';
  font-family: 'fontawesome';
  font-size: 15px;
  margin-left: 12px;
}

/* f. Archives
/* ------------------------------------------------------------------ */
.archive-list h4 {
  font: 15px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.archive-list ul {
  list-style: disc;
  margin-left: 17px;
}

/* g. Footer
/* ------------------------------------------------------------------ */
footer {
  padding-top: 36px;
  margin-bottom: 42px;
  font-size: 13px;
  line-height: 24px;
  position: relative;
  color: #34393A;
}

footer h3 {
  font: 14px/24px 'opensans-bold', sans-serif;
  margin-bottom: 9px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer p {
  margin-bottom: 24px;
}

footer a, footer a:visited {
  color: #6C934D;
}

footer a:hover, footer a:focus {
  color: #34393A;
}

footer .info {
  padding-right: 30px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  margin: 0;
  line-height: 24px;
}

footer ul li a,
footer ul li a:visited {
  color: #34393A;
}

footer ul li a:hover,
footer ul li a:focus {
  color: #002072;
}

/* social links */
footer .social-links {
  margin: 18px auto 42px auto;
  padding: 0;
  text-align: center;
}

footer .social-links li {
  display: inline-block;
  font-size: 32px;
  line-height: 48px;
  padding: 0;
  margin: 0 16px;
  color: #444;
}

footer .social-links li:first-child {
  margin-left: 0;
}

/* Photostream */
footer .photostream {
  list-style: none;
  margin: 12px 0 24px -15px;
  padding: 0;
  overflow: hidden;
}

footer .photostream li {
  display: inline-block;
  margin: 0 0 12px 12px;
  padding: 0;
}

footer .photostream li a {
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  padding: 9px;
  border: 1px solid #E9E9E9;
  border-radius: 3px;
}

footer .photostream li a img {
  vertical-align: bottom;
}

/* copyright */
footer .copyright {
  margin: 0;
  padding: 24px 18px 6px 18px;
  clear: both;
  text-align: center;
}

/* Go To Top Button */
#go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  display: none;
}

#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 48px;
  height: 48px;
  background-color: #494949;
  transition: all 0.2s ease-in-out;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  border-radius: 3px;
}

#go-top a:hover {
  background: #7BA857;
}

/* screenwidth less than or equal 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  /* header styles
  -------------------------------------------------------------- */
  header h1#logo-text {
    top: 114px;
    left: 18px;
  }
  header h1#logo-text a {
    font: normal 68px Georgia, Serif;
    letter-spacing: -4px;
  }
  /* sidebar
  -------------------------------------------------------------- */
  #sidebar {
    padding-left: 18px;
  }
}

/* screenwidth less than or equal 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  /* header styles
  -------------------------------------------------------------- */
  header .header-content {
    background: #fff url(img/header-content-bg.png) no-repeat right top;
    background-size: 330px 234px;
  }
  header h1#logo-text a {
    font: normal 60px Georgia, Serif;
  }
  header p#intro {
    font: 15px/24px 'opensans-light', Georgia, Serif;
    top: 183px;
    left: 30px;
  }
}

/* screenwidth less than 768px - mobile/smaller tablets
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  /* header styles
  -------------------------------------------------------------- */
  header,
  header .header-content {
    height: 276px;
  }
  header .header-content {
    background: #fff url(img/header-content-bg.png) no-repeat 50% top;
    padding: 0;
    border: none;
  }
  header h1#logo-text,
  header p#intro {
    width: 100%;
    text-align: center;
    position: static;
  }
  header h1#logo-text {
    padding-top: 108px;
  }
  header h1#logo-text a {
    font: normal 56px Georgia, Serif;
    letter-spacing: -3.5px;
  }
  header p#intro {
    font: 15px/24px 'opensans-light', Georgia, Serif;
  }
  /* mobile navigation
  -------------------------------------------------------------------- */
  #nav-wrap {
    z-index: 999;
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 6px solid #9FCC7F;
  }
  #nav-wrap > a {
    text-align: left;
    border: none;
    font-size: 12px;
    height: 54px;
    line-height: 54px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    float: right;
    position: relative;
    top: 0px;
    right: 36px;
  }
  #nav-wrap > a:before {
    font-family: 'FontAwesome';
    content: "\f0c9";
    color: #666666;
    margin: 0;
    font-size: 25px;
    line-height: 54px;
    text-align: left;
    display: block;
    float: right;
  }
  /* hide menu panel */
  #nav-wrap ul#nav {
    padding: 12px 30px 60px 30px;
    margin: 0;
    height: auto;
    display: none;
    clear: both;
    /*width: auto; */
    width: 100%;
    float: none;
    position: relative;
    top: 0;
    right: 0;
  }
  /* display toggle buttons */
  .no-js #nav-wrap:not(:target) > a:first-of-type,
  .no-js #nav-wrap:target > a:last-of-type {
    display: block;
  }
  .js #nav-wrap a {
    display: block;
  }
  /* display menu panels - no JS*/
  .no-js #nav-wrap:target ul#nav {
    display: block;
  }
  /* remove float left on 1st level list items */
  ul#nav > li {
    float: none;
  }
  ul#nav > li {
    display: block;
    height: auto;
    text-align: left;
    border-bottom: 1px dotted #D3D5DA;
    padding: 6px 0;
  }
  ul#nav > li:first-child {
    border-top: 1px dotted #D3D5DA;
  }
  ul#nav li a {
    display: block;
    width: auto;
    padding: 0;
    padding: 12px 0;
    line-height: 16px;
    /* reset line-height from 40px */
    border: none;
  }
  ul#nav li.current > a {
    background: none;
    border-radius: none;
    border: none;
    padding: 12px 0;
    color: #111;
  }
  ul#nav li.has-children > a:after {
    content: "+";
    display: inline;
    padding-left: 8px;
    color: #9FCC7F;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  /* sub menu	 */
  ul#nav ul {
    position: static;
    /* change position to static */
    border-radius: none;
    border: none;
    padding-bottom: 0;
  }
  /* sub menu anchor links */
  ul#nav ul li a {
    padding: 6px 15px 6px 8px;
  }
  /* on hover */
  ul#nav li.has-children:hover > a:after {
    content: "-";
  }
  /* content
  -------------------------------------------------------------- */
  #content-wrap {
    padding-top: 0;
  }
  #content-wrap #main {
    padding-right: 30px;
  }
  .page h2,
  .entry h2,
  .entry h2 a {
    font: 28px/36px 'opensans-semibold', sans-serif;
    letter-spacing: -.5px;
  }
  .entry h2,
  .entry .entry-meta,
  .page h2 {
    text-align: center;
  }
  /* sidebar
  -------------------------------------------------------------- */
  #sidebar {
    padding-left: 30px;
  }
  /* categories */
  #sidebar .widget_categories ul {
    margin-bottom: 12px;
  }
  #sidebar .widget_categories ul li {
    display: inline-block;
    margin-right: 6px;
  }
  /* entry
  -------------------------------------------------------------- */
  .entry .entry-meta ul {
    margin-top: 9px;
  }
  /* tags */
  .tags {
    text-align: center;
  }
  /* post-nav */
  .post-nav {
    margin-top: 18px;
  }
  .post-nav li {
    display: block;
    margin: 0 0 18px 0;
    width: 100%;
  }
  .post-nav li.next {
    float: none;
    text-align: center;
  }
  .post-nav li.prev {
    float: none;
    text-align: center;
  }
  /* Comments */
  #comments h3 {
    text-align: center;
    margin-left: 0;
  }
  /* Comments List */
  ol.commentlist {
    width: 100%;
    margin-left: 0;
  }
  .commentlist > li {
    padding-left: 0;
  }
  .commentlist li .avatar {
    display: none;
  }
  /* comment form */
  #comments form {
    margin-left: 0;
    border-bottom: 1px solid #E8E8E8;
  }
  #comments form input,
  #comments form textarea,
  #comments form select,
  #comments form label {
    width: 100%;
    float: none;
  }
  #comments form label {
    padding-left: 0;
  }
  #comments form div {
    margin-bottom: 0;
  }
  #comments form input {
    margin-bottom: 0;
  }
  #comments form .message label {
    display: block;
  }
  #comments form button.submit {
    width: 100%;
  }
  /* page navigation */
  .pagenav {
    text-align: center;
  }
  /* page
  -------------------------------------------------------------- */
  .page {
    border-bottom: 1px solid #E8E8E8;
  }
  /* footer
  -------------------------------------------------------------- */
  footer .social-links {
    margin-bottom: 36px;
  }
  footer .social-links li {
    font-size: 28px;
    line-height: 42px;
    margin: 0 8px;
  }
  footer .navigate {
    margin-bottom: 30px;
  }
  footer .navigate li {
    display: inline-block;
    margin-right: 18px;
    line-height: 30px;
  }
  footer .copyright {
    border-top: 1px solid #DFDBDB;
    padding: 24px 30px 6px 30px;
  }
  /* Go To Top Button */
  #go-top {
    right: 20px;
  }
  #go-top a {
    width: 42px;
    height: 42px;
    line-height: 42px;
  }
}

/* screenwidth less than or equal 480px - mobile wide
  -------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
  /* header styles
  -------------------------------------------------------------- */
  header h1#logo-text {
    padding-top: 105px;
  }
  header h1#logo-text a {
    font: normal 52px Georgia, Serif;
  }
  header p#intro {
    font: 14px/24px 'opensans-light', Georgia, Serif;
  }
  /* mobile navigation
 --------------------------------------------------------------- */
  #nav-wrap > a {
    right: 30px;
  }
  #nav-wrap {
    width: 100%;
  }
  #nav-wrap ul#nav {
    width: 100%;
  }
}

/* screenwidth less than or equal 420px - mobile narrow
  -------------------------------------------------------------------------- */
@media only screen and (max-width: 420px) {
  /* header styles
  -------------------------------------------------------------- */
  header,
  header .header-content {
    height: 260px;
  }
  header .header-content {
    background: #fff url(img/header-content-bg.png) no-repeat 50% top;
    background-size: 300px 213px;
  }
  header h1#logo-text a {
    font: normal 46px Georgia, Serif;
  }
  header p#intro {
    font: 13px/24px 'opensans-light', Georgia, Serif;
  }
  /* content
  -------------------------------------------------------------- */
  #content-wrap {
    margin-top: -24px;
  }
}

/* make sure the menu is visible on larger screens
  -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  #nav-wrap ul#nav {
    display: block !important;
  }
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.2857142857em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.1428571429em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.1428571429em;
  width: 2.1428571429em;
  top: 0.1428571429em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.8571428571em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-feed:before,
.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper-pp:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.fa-buysellads:before {
  content: "";
}

.fa-connectdevelop:before {
  content: "";
}

.fa-dashcube:before {
  content: "";
}

.fa-forumbee:before {
  content: "";
}

.fa-leanpub:before {
  content: "";
}

.fa-sellsy:before {
  content: "";
}

.fa-shirtsinbulk:before {
  content: "";
}

.fa-simplybuilt:before {
  content: "";
}

.fa-skyatlas:before {
  content: "";
}

.fa-cart-plus:before {
  content: "";
}

.fa-cart-arrow-down:before {
  content: "";
}

.fa-diamond:before {
  content: "";
}

.fa-ship:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-motorcycle:before {
  content: "";
}

.fa-street-view:before {
  content: "";
}

.fa-heartbeat:before {
  content: "";
}

.fa-venus:before {
  content: "";
}

.fa-mars:before {
  content: "";
}

.fa-mercury:before {
  content: "";
}

.fa-intersex:before,
.fa-transgender:before {
  content: "";
}

.fa-transgender-alt:before {
  content: "";
}

.fa-venus-double:before {
  content: "";
}

.fa-mars-double:before {
  content: "";
}

.fa-venus-mars:before {
  content: "";
}

.fa-mars-stroke:before {
  content: "";
}

.fa-mars-stroke-v:before {
  content: "";
}

.fa-mars-stroke-h:before {
  content: "";
}

.fa-neuter:before {
  content: "";
}

.fa-genderless:before {
  content: "";
}

.fa-facebook-official:before {
  content: "";
}

.fa-pinterest-p:before {
  content: "";
}

.fa-whatsapp:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-user-plus:before {
  content: "";
}

.fa-user-times:before {
  content: "";
}

.fa-hotel:before,
.fa-bed:before {
  content: "";
}

.fa-viacoin:before {
  content: "";
}

.fa-train:before {
  content: "";
}

.fa-subway:before {
  content: "";
}

.fa-medium:before {
  content: "";
}

.fa-yc:before,
.fa-y-combinator:before {
  content: "";
}

.fa-optin-monster:before {
  content: "";
}

.fa-opencart:before {
  content: "";
}

.fa-expeditedssl:before {
  content: "";
}

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "";
}

.fa-battery-2:before,
.fa-battery-half:before {
  content: "";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "";
}

.fa-battery-0:before,
.fa-battery-empty:before {
  content: "";
}

.fa-mouse-pointer:before {
  content: "";
}

.fa-i-cursor:before {
  content: "";
}

.fa-object-group:before {
  content: "";
}

.fa-object-ungroup:before {
  content: "";
}

.fa-sticky-note:before {
  content: "";
}

.fa-sticky-note-o:before {
  content: "";
}

.fa-cc-jcb:before {
  content: "";
}

.fa-cc-diners-club:before {
  content: "";
}

.fa-clone:before {
  content: "";
}

.fa-balance-scale:before {
  content: "";
}

.fa-hourglass-o:before {
  content: "";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "";
}

.fa-hourglass:before {
  content: "";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "";
}

.fa-hand-scissors-o:before {
  content: "";
}

.fa-hand-lizard-o:before {
  content: "";
}

.fa-hand-spock-o:before {
  content: "";
}

.fa-hand-pointer-o:before {
  content: "";
}

.fa-hand-peace-o:before {
  content: "";
}

.fa-trademark:before {
  content: "";
}

.fa-registered:before {
  content: "";
}

.fa-creative-commons:before {
  content: "";
}

.fa-gg:before {
  content: "";
}

.fa-gg-circle:before {
  content: "";
}

.fa-tripadvisor:before {
  content: "";
}

.fa-odnoklassniki:before {
  content: "";
}

.fa-odnoklassniki-square:before {
  content: "";
}

.fa-get-pocket:before {
  content: "";
}

.fa-wikipedia-w:before {
  content: "";
}

.fa-safari:before {
  content: "";
}

.fa-chrome:before {
  content: "";
}

.fa-firefox:before {
  content: "";
}

.fa-opera:before {
  content: "";
}

.fa-internet-explorer:before {
  content: "";
}

.fa-tv:before,
.fa-television:before {
  content: "";
}

.fa-contao:before {
  content: "";
}

.fa-500px:before {
  content: "";
}

.fa-amazon:before {
  content: "";
}

.fa-calendar-plus-o:before {
  content: "";
}

.fa-calendar-minus-o:before {
  content: "";
}

.fa-calendar-times-o:before {
  content: "";
}

.fa-calendar-check-o:before {
  content: "";
}

.fa-industry:before {
  content: "";
}

.fa-map-pin:before {
  content: "";
}

.fa-map-signs:before {
  content: "";
}

.fa-map-o:before {
  content: "";
}

.fa-map:before {
  content: "";
}

.fa-commenting:before {
  content: "";
}

.fa-commenting-o:before {
  content: "";
}

.fa-houzz:before {
  content: "";
}

.fa-vimeo:before {
  content: "";
}

.fa-black-tie:before {
  content: "";
}

.fa-fonticons:before {
  content: "";
}

.fa-reddit-alien:before {
  content: "";
}

.fa-edge:before {
  content: "";
}

.fa-credit-card-alt:before {
  content: "";
}

.fa-codiepie:before {
  content: "";
}

.fa-modx:before {
  content: "";
}

.fa-fort-awesome:before {
  content: "";
}

.fa-usb:before {
  content: "";
}

.fa-product-hunt:before {
  content: "";
}

.fa-mixcloud:before {
  content: "";
}

.fa-scribd:before {
  content: "";
}

.fa-pause-circle:before {
  content: "";
}

.fa-pause-circle-o:before {
  content: "";
}

.fa-stop-circle:before {
  content: "";
}

.fa-stop-circle-o:before {
  content: "";
}

.fa-shopping-bag:before {
  content: "";
}

.fa-shopping-basket:before {
  content: "";
}

.fa-hashtag:before {
  content: "";
}

.fa-bluetooth:before {
  content: "";
}

.fa-bluetooth-b:before {
  content: "";
}

.fa-percent:before {
  content: "";
}

.fa-gitlab:before {
  content: "";
}

.fa-wpbeginner:before {
  content: "";
}

.fa-wpforms:before {
  content: "";
}

.fa-envira:before {
  content: "";
}

.fa-universal-access:before {
  content: "";
}

.fa-wheelchair-alt:before {
  content: "";
}

.fa-question-circle-o:before {
  content: "";
}

.fa-blind:before {
  content: "";
}

.fa-audio-description:before {
  content: "";
}

.fa-volume-control-phone:before {
  content: "";
}

.fa-braille:before {
  content: "";
}

.fa-assistive-listening-systems:before {
  content: "";
}

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "";
}

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "";
}

.fa-glide:before {
  content: "";
}

.fa-glide-g:before {
  content: "";
}

.fa-signing:before,
.fa-sign-language:before {
  content: "";
}

.fa-low-vision:before {
  content: "";
}

.fa-viadeo:before {
  content: "";
}

.fa-viadeo-square:before {
  content: "";
}

.fa-snapchat:before {
  content: "";
}

.fa-snapchat-ghost:before {
  content: "";
}

.fa-snapchat-square:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-first-order:before {
  content: "";
}

.fa-yoast:before {
  content: "";
}

.fa-themeisle:before {
  content: "";
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "";
}

.fa-fa:before,
.fa-font-awesome:before {
  content: "";
}

.fa-handshake-o:before {
  content: "";
}

.fa-envelope-open:before {
  content: "";
}

.fa-envelope-open-o:before {
  content: "";
}

.fa-linode:before {
  content: "";
}

.fa-address-book:before {
  content: "";
}

.fa-address-book-o:before {
  content: "";
}

.fa-vcard:before,
.fa-address-card:before {
  content: "";
}

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "";
}

.fa-user-circle:before {
  content: "";
}

.fa-user-circle-o:before {
  content: "";
}

.fa-user-o:before {
  content: "";
}

.fa-id-badge:before {
  content: "";
}

.fa-drivers-license:before,
.fa-id-card:before {
  content: "";
}

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "";
}

.fa-quora:before {
  content: "";
}

.fa-free-code-camp:before {
  content: "";
}

.fa-telegram:before {
  content: "";
}

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "";
}

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "";
}

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "";
}

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "";
}

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "";
}

.fa-shower:before {
  content: "";
}

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "";
}

.fa-podcast:before {
  content: "";
}

.fa-window-maximize:before {
  content: "";
}

.fa-window-minimize:before {
  content: "";
}

.fa-window-restore:before {
  content: "";
}

.fa-times-rectangle:before,
.fa-window-close:before {
  content: "";
}

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "";
}

.fa-bandcamp:before {
  content: "";
}

.fa-grav:before {
  content: "";
}

.fa-etsy:before {
  content: "";
}

.fa-imdb:before {
  content: "";
}

.fa-ravelry:before {
  content: "";
}

.fa-eercast:before {
  content: "";
}

.fa-microchip:before {
  content: "";
}

.fa-snowflake-o:before {
  content: "";
}

.fa-superpowers:before {
  content: "";
}

.fa-wpexplorer:before {
  content: "";
}

.fa-meetup:before {
  content: "";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/*# sourceMappingURL=main.css.map */
